In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
pd.set_option('display.max_columns', None)

# Reading Data and Define categorical

In [59]:
data = pd.read_csv('Main.csv')

/Users/mojgun/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (9,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [101]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Columns: 482 entries, Unnamed: 0 to GEOCODE2
dtypes: float64(103), int64(311), object(68)
memory usage: 350.9+ MB

In [102]:
data_backup=data

In [104]:
cat=data.select_dtypes('object')

In [105]:
cat.shape

(95412, 68)

In [106]:
cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Data columns (total 68 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OSOURCE   94484 non-null  object
 1   STATE     95412 non-null  object
 2   ZIP       95412 non-null  object
 3   MAILCODE  95412 non-null  object
 4   PVASTATE  1458 non-null   object
 5   NOEXCH    95405 non-null  object
 6   RECINHSE  6703 non-null   object
 7   RECP3     2017 non-null   object
 8   RECPGVG   114 non-null    object
 9   RECSWEEP  1617 non-null   object
 10  MDMAUD    95412 non-null  object
 11  DOMAIN    93096 non-null  object
 12  AGEFLAG   65864 non-null  object
 13  HOMEOWNR  73184 non-null  object
 14  CHILD03   1146 non-null   object
 15  CHILD07   1566 non-null   object
 16  CHILD12   1811 non-null   object
 17  CHILD18   2847 non-null   object
 18  GENDER    92455 non-null  object
 19  MAJOR     294 non-null    object
 20  COLLECT1  5202 non-null   object
 21  VETERANS  10426 non-null  object
 22  BIBLE     8871 non-null   object
 23  CATLG     7865 non-null   object
 24  HOMEE     887 non-null    object
 25  PETS      14326 non-null  object
 26  CDPLAY    12254 non-null  object
 27  STEREO    12794 non-null  object
 28  PCOWNERS  10481 non-null  object
 29  PHOTO     4786 non-null   object
 30  CRAFTS    8176 non-null   object
 31  FISHER    7130 non-null   object
 32  GARDENIN  13402 non-null  object
 33  BOATS     2028 non-null   object
 34  WALKER    10501 non-null  object
 35  KIDSTUFF  1536 non-null   object
 36  CARDS     1041 non-null   object
 37  PLATES    560 non-null    object
 38  PEPSTRFL  45269 non-null  object
 39  RFA_2     95412 non-null  object
 40  RFA_3     93462 non-null  object
 41  RFA_4     93100 non-null  object
 42  RFA_5     61822 non-null  object
 43  RFA_6     91855 non-null  object
 44  RFA_7     86538 non-null  object
 45  RFA_8     91901 non-null  object
 46  RFA_9     84167 non-null  object
 47  RFA_10    62664 non-null  object
 48  RFA_11    84990 non-null  object
 49  RFA_12    86489 non-null  object
 50  RFA_13    55193 non-null  object
 51  RFA_14    76545 non-null  object
 52  RFA_15    29935 non-null  object
 53  RFA_16    74995 non-null  object
 54  RFA_17    67762 non-null  object
 55  RFA_18    74149 non-null  object
 56  RFA_19    70920 non-null  object
 57  RFA_20    45212 non-null  object
 58  RFA_21    60200 non-null  object
 59  RFA_22    69764 non-null  object
 60  RFA_23    39138 non-null  object
 61  RFA_24    58439 non-null  object
 62  RFA_2R    95412 non-null  object
 63  RFA_2A    95412 non-null  object
 64  MDMAUD_R  95412 non-null  object
 65  MDMAUD_F  95412 non-null  object
 66  MDMAUD_A  95412 non-null  object
 67  GEOCODE2  95093 non-null  object
dtypes: object(68)
memory usage: 49.5+ MB

# Categorical Nulls and Drop list

In [110]:
cat.isna().sum()

OSOURCE       928
STATE           0
ZIP             0
MAILCODE        0
PVASTATE    93954
            ...
RFA_2A          0
MDMAUD_R        0
MDMAUD_F        0
MDMAUD_A        0
GEOCODE2      319
Length: 68, dtype: int64

In [112]:
drop_list=[]
drop_list.append('OSOURCE')
drop_list.append('ZIP')
drop_list

['OSOURCE', 'ZIP']

In [113]:
def filter_nulls(df, perc = 0.25):    
        nulls_percent_df = pd.DataFrame(df.isna().sum()/len(df)).reset_index()  
        nulls_percent_df.columns = ['column_name', 'nulls_percentage']
        columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>perc]
        drop_columns_list = list(columns_above_threshold['column_name'])
        return drop_columns_list

In [114]:
drop_columns_list=filter_nulls(cat,0.85)

In [115]:
cat_backup= cat.copy()
cat = cat.drop(columns=drop_columns_list)
cat = cat.drop(columns=drop_list)
cat.shape

(95412, 39)

# Cleaning Gender

In [116]:
cat['GENDER'].value_counts()

F    51277
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [117]:
def clean_gender(df):
    df['GENDER'] = np.where(df['GENDER'].isin(['F','M']),df['GENDER'],"other")
    return df

In [118]:
cat=clean_gender(cat)

In [119]:
cat['GENDER'].value_counts()

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64

In [120]:
print(cat['GENDER'].value_counts())
cat['GENDER'] = cat['GENDER'].fillna('F')

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64